<div class="row justify-content-start">
    <div class="col-sm outer-card-link" [ngClass]="{'section-overview': tile.isOverview, 'section-train': tile.isTraining}"
    *ngFor=" let tile of tiles">
        <div class="card card-link" [routerLink]="tile.link">
            <div class="card-header">
                <img class="card-img-top position-absolute" src="../../assets/images/france.webp"
                    alt="Französische Flagge">
                <h2 class="card-title">{{tile.text}}</h2>
            </div>
            <div class="card-body">
                <p class="card-text">{{tile.descr}}</p>
            </div>
        </div>
    </div>
</div>