@import '../../../globals.less';

mat-card-title {
    margin-bottom: 20px !important;
    color: @primary;
    font-size: 18px;

    .info-position {
        float: right;
        text-align: right;
        height: 50px;

        .wiederholung {
            color: @accent;
        }
    }
}

.prev-error {
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: -30px;

    .word {
        font-weight: 500;
        color: green;
    }
}

.question {
    line-height: 1;
    font-size: 30px;
    margin-bottom: 20px;
}

.solution {
    min-height: 100px;

    .heading {
        font-size: 22px;
        margin-bottom: 9px;
    }

    .truth {
        font-size: 20px;

        .phonetik {
            display: block;
            margin-top: 9px;
        }
    }
}

input.form-control:disabled {
    background-color: #fff;
}

.input-group-text {
    background-color: #fff;
    font-size: 20px;
}

app-sonderzeichen-leiste {
    display: block;
    margin-top: 10px;
}

.info-progress {
    height: 40px;
    padding-top: 20px;
    font-size: 18px;
    color: @correct-answer;

    .progress-text-info {
        text-decoration: underline;
    }

    .progress-icon-info {
        font-size: 22px;
        padding-left: 5px;
    }
}

mat-card-actions {
    text-align: left;
    margin: 20px 0 0 0;

    button {
        font-size: 18px;
    }
}

.has-answered {
    &.is-correct {

        input,
        .input-group-text {
            color: @correct-answer;
            border-color: @correct-answer;
        }

        .solution {
            .heading {
                color: @correct-answer;
            }
        }
    }

    &.is-mostly-correct {

        input,
        .input-group-text {
            color: @similar-answer;
            border-color: @similar-answer;

            &.male {
                color: @male;
            }
    
            &.female {
                color: @female;
            }
        }

        .solution {
            .heading {
                color: @similar-answer;
            }

            .phonetik {
                margin-top: 7px;
            }
        }
    }

    &.is-wrong {

        input,
        .input-group-text {
            color: @wrong-answer;
            border-color: @wrong-answer;
        }

        .solution {
            .heading {
                color: @wrong-answer;
            }
        }
    }
}