@import '../../../globals.less';

* {
    font-size: 16px;
}

.result-info {
    margin-bottom: 5px;
}

.button-bar {
    display: table;
    margin: 15px 0;

    .button-row {
        display: table-row;
    }

    .button-cell {
        display: table-cell;
        text-align: center;
        font-weight: 500;
    }

    button.hidden {
        background-color: lightgrey;
    }
}

table {
    margin-top: 10px;

    th {
        svg, g {
            color: #495057 !important;
            fill: #495057 !important;
        }
    }
}

.is-correct {
    color: @correct-answer;
}

.is-mostly-correct {
    color: @similar-answer;

    &.male {
        color: @male;
        fill: @male;
    }

    &.female {
        color: @female;
        fill: @female;
    }
}

.is-wrong {
    color: @wrong-answer;
}