<div class="section-overview">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 outer-card-link" *ngFor="let lektion of lektionen">
            <div class="card card-link" [routerLink]="'/vokabeln/liste/lektionen/' + lektion.key"
                [ngStyle]="{'background-color': getColor(lektion)}">
                <div class="card-header">
                    <img class="card-img-top position-absolute" src="../../assets/images/france.webp"
                        alt="Französische Flagge">
                    <h2 class="card-title">
                        {{lektion.name}}
                    </h2>
                    <h4 class="card-subtitle mb-2 lektion-titel">{{lektion.titel}}</h4>
                </div>
                <div class="card-body">
                    <u>
                        <h4 class="card-subtitle">{{lektion.subTitel}}</h4>
                    </u>
                    <p class="card-text">{{lektion.inhalt}}</p>
                    <p class="card-text">{{lektion.total}} {{lektion.total === 1 ? 'Vokabel' : 'Vokabeln'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>