/* You can add global styles to this file, and also import other style files */
@primary: rgb(63, 81, 181);
@primary_light: rgba(63, 81, 181, 0.4);
@accent: rgb(255, 64, 129);
@learn: rgba(181, 179, 63, 0.698);
@train: rgba(0, 123, 255, 0.569);
@correct-answer: rgb(24, 161, 0);
@similar-answer: rgb(255, 64, 129);
@wrong-answer: rgb(179, 0, 0);