/* You can add global styles to this file, and also import other style files */
@import './globals.less';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toast-container .ngx-toastr {
  width: 500px !important;
  margin-top: 10px;
  ;
}

.section-overview {
  .card-link {
    background-color: @overview;
  }
}

.section-train {
  .card-link {
    background-color: @train;
  }
}

.section-test-results {
  .card-link {
    background-color: @test-results;
  }
}

.outer-card-link {
  padding-bottom: 30px;

  .card-link {
    cursor: pointer;
    margin: 0 auto;

    &:hover {
      opacity: 0.8;
    }

    .card-header {
      min-height: 86px;

      h2 {
        margin-bottom: 0;
        padding-right: 40px;
        color: white;
      }

      img {
        right: 10px;
        width: 35px;
      }

      .started,
      .completed {
        right: 5px;
        font-size: 40px;
      }

      .started {
        top: 0;
        // color: white;
      }

      .completed {
        top: 10px;
        // color: rgb(255 196 64);
      }
    }

    .card-subtitle {
      margin-bottom: 5px !important;
    }

    .lektion-titel {
      font-size: 18px;
      color: #4a1cb7 !important;
    }
  }
}

.reset-area {
  text-align: center;

  button {
    width: 100%;
    margin-top: 1px;
  }
}

.modal-dialog {
  max-width: 470px !important;
  font-size: 20px;

  button {
    margin: 5px;
  }
}