/* You can add global styles to this file, and also import other style files */
@import './globals.less';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section-learn {
  .card-link {
    background-color: @learn  !important;
  }
}

.section-train {
  .card-link {
    background-color: @train  !important;
  }
}

.outer-card-link {
  margin-bottom: 30px;

  .card-link {
    cursor: pointer;
    margin: 0 auto;
    height: 100%;

    &:hover {
      opacity: 0.8;
    }

    .card-header {
      h2 {
        margin-bottom: 0;
        padding-right: 35px;
      }

      img {
        right: 10px;
        width: 35px;
      }
    }
  }
}