<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card h-100 w-100" style="width: 18rem;">
                <img src="../../assets/images/learn.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vokabeln lernen</h5>
                    <p class="card-text">Hier kannst du die Vokabeln deines Buches lernen.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card h-100 w-100" style="width: 18rem;">
                <img src="../../assets/images/study.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vokabeln trainieren</h5>
                    <p class="card-text">Hier kannst du deine gelernten Vokabeln nach Lektion trainieren.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card h-100 w-100" style="width: 18rem;">
                <img src="../../assets/images/ki2.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vokabeln intelligent trainieren</h5>
                    <p class="card-text">Hier kannst du deine Vokabeln intelligent trainieren.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="card h-100 w-100" style="width: 18rem;">
                <img src="../../assets/images/fehler.webp" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fehleranalyse</h5>
                    <p class="card-text">Hier werden dir deine häufigsten Fehler gezeigt.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>