<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="350px" fxFlex.xs="100%">
        <mat-card-title>Login</mat-card-title>
        <form [formGroup]="loginForm" novalidate (ngSubmit)="login()" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-content>
                <mat-form-field>
                    <input matInput type="text" placeholder="Username" formControlName="username" id="username">
                    <mat-error *ngIf="hasErrorRequired('username')">Username ist erforderlich</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Passwort" formControlName="password" id="password">
                    <mat-error *ngIf="hasErrorRequired('password')">Passwort ist erforderlich</mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
                <div *ngIf="isRegisterEnabled()" class="link-register">
                    Noch kein Konto? <a routerLink="/register">Registrieren</a>
                </div>
            </mat-card-actions>
        </form>
    </mat-card>
</section>